*{
    background: rgb(233, 226, 226);
}


#heading{
    color: blue;
    font-size: 40px;
    text-align: center;
    font-family: Georgia, serif;
}
p{
    color: green;
    font-size: 20px;
    font-family: Arial, sans-serif;

}
h2{
    color: blue;
    font-family: Verdana, sans-serif;
}
.thankyou{
    text-align: center;
    color: green;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}